#menuMainHome {
	display:none;
}

/*<group=Content>*/

img.ocStatus {
	vertical-align: text-bottom;
	}

.rssFeedsSmall {
	padding: 0 0 0 16px;
}
.rssFeedsSmall:before{
	font-family: "If-icons";
	content: "\e607";
	speak: none;
	color: #ff8534;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	position: relative;
	direction: ltr;
	border: none;
	vertical-align: baseline;
	position: absolute;
	margin-left: -16px;
	font-size: 12px;
}
table{
	text-align: left;
	border-collapse: collapse;
}

table caption,
table thead td,
table th{
	color: inherit;
	font-weight: bold;
	line-height: 1.8em;
	padding: 5px 7px;
	text-align: left;
}
table td{
	padding: 0;
}
.tableYellow td,
.tableBlue td,
.tableGreen td,
.tableBrown td,
.tableGray td,
.tableNeutral td{
	padding: 5px 7px;
}
.tableYellow {
	background-color: rgba(255, 228, 156, 0.1);
	border: 1px solid #ffe49c;
}
.tableYellow caption,
.tableYellow thead td,
.tableYellow thead th {
	background-color: #ffe49c;
}
.tableBlue {
	background-color: rgba(182, 216, 223, 0.1);
	border: 1px solid #b6d8df;
}

.tableBlue caption,
.tableBlue thead td,
.tableBlue thead th {
	background-color: #b6d8df;
}
.tableGreen {
	background-color: rgba(208, 230, 195, 0.1);
	border: 1px solid #d0e6c3;
}

.tableGreen caption,
.tableGreen thead td,
.tableGreen thead th {
	background-color: #d0e6c3;
}
.tableBrown {
	background-color: rgba(207, 172, 146, 0.1);
	border: 1px solid #cfac92;
}

.tableBrown caption,
.tableBrown thead td,
.tableBrown thead th {
	background-color: #cfac92;
}
.tableGray {
	background-color: rgba(217, 217, 217, 0.1);
	border: 1px solid #d9d9d9;
}
.tableGray caption,
.tableGray thead td,
.tableGray thead th {
	background-color: #d9d9d9;
}

.tableNeutral caption,
.tableNeutral thead td,
.tableNeutral thead th {
	background-color: #e9e9e9;
	border: 1px solid #e9e9e9;
}
.tableNeutral tbody tr{
	border-bottom: 1px solid #e9e9e9;
}
.tableNeutral tbody tr:last-child{
	border-bottom: 1px solid #e9e9e9;
}
.tableYellow tbody tr:nth-child(odd),
.tableBlue tbody tr:nth-child(odd),
.tableGreen tbody tr:nth-child(odd),
.tableBrown tbody tr:nth-child(odd),
.tableGray tbody tr:nth-child(odd),
.tableNeutral tbody tr:nth-child(odd),
.tableNeutralLeftHeader tbody tr:nth-child(odd) {
	background-color: #fff;
	}

.highLight {
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 20px;
	padding: 0 0 10px;
/*	margin: 2em auto;
	padding: 1.4em 2em;
	width: 80%;
	letter-spacing: 0.1em;
	border-style: solid none;
	border-color: #efefef;
	border-width: 0.3em;
	text-align: center
	*/
}
/* clean up old highLight table */
td.highLight {
	border: none;
	margin:0;
	padding:0;
	width:100%;
	}

#content .hidden {
	display:none;
	}

.ingress {
	font-weight: bold;
	clear:both;
	margin-bottom:1em;
	}

.ingress p {
	clear:none;
	}

.img_left {
	float:left;
	margin:0 10px 10px 0;
	}

.img_right {
	float:right;
	margin:0 0 10px 10px;
	}

.img_center {
	float:none;
	margin:0 auto 10px auto;
	display:block;
	}

.img_none {
	float:none;
	}

.highlightSearch {
	background-color: yellow;
	}

.font-xx-small {font-size:0.7em}
.font-x-small {font-size:0.8em}
.font-small {font-size:0.9em}
.font-medium {font-size:1em}
.font-large {font-size:1.1em}
.font-x-large {font-size:1.2em}
.font-xx-large {font-size:1.3em}

.jq_watermark {

	}

dl.definitionListToggle {
	padding:0;
	margin: 1em 0;
	}

dl.definitionListToggle dt {
	padding-left:1em;
	cursor:pointer;
	color: inherit;
	border: 1px solid #e9e9e9;
	border-width: 1px 1px 0 1px;
	padding: 10px 30px 10px 15px;
	position: relative;
	margin: 0;
	min-height: 1.15em;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
}
dl.definitionListToggle dt.inactive{
	border-width: 1px 1px 1px 1px;
	margin: 0 0 -1px;
}
dl.definitionListToggle dt:after{
	font-family: "if-icons";
	content: "\e610";
  speak: none;
  color: #999;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  position: relative;
  direction: ltr;
  border: none;
  vertical-align: middle;
	position: absolute;
	top: 10px;
	right: 5px;
}

dl.definitionListToggle dt.inactive:after {
	content: "\e60d";
}

dl.definitionListToggle dd {
	padding: 10px 15px;
	border: 1px solid #e9e9e9;
	border-top: none;
	margin: 0 0 10px;
	font-size: 14px;
	display: none;
	overflow: hidden;
	text-overflow: ellipsis;
}
dl.definitionListToggle dt + dd {
	display: block;
}

.definitionListToggle .inactive + dd {
	display: none;
	}

.tableSorter .header,
.tableSorter .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center right;
	background-repeat: no-repeat;
	cursor: pointer;
	white-space: normal;
	padding: 4px 20px 4px 4px;
}
.tableSorter thead .headerSortUp,
.tableSorter thead .tablesorter-headerSortUp,
.tableSorter thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
	border-bottom: #000 2px solid;
}
.tableSorter thead .headerSortDown,
.tableSorter thead .tablesorter-headerSortDown,
.tableSorter thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	border-bottom: #000 2px solid;
}
.tableSorter thead .sorter-false {
	background-image: none;
	cursor: default;
	padding: 4px;
}


.datePicker {
	}

/* textare resizable*/
.textareaResizable {
	}
.ui-resizable-se {
	bottom: 12px !important;
	}

/*<group=Bottom Toolbar>*/
#footer{
 	clear: both;
	padding-top: 30px;
}
#footer hr  {
	border-style: solid none none none;
	border-width:1px 0 0 0;
	border-top-color: #efefef;
	height: 1px;
	width: 100%;
	margin-top: 10px;
	padding:0;
	clear:both;
	}

#bottomToolBar {
	display: table;
	font-size: 12px;
	width:100%;
	margin: 15px 0;
	}


#bottomToolBar .path {
	margin:0;
	display:table-cell;
	}
#bottomToolBar .path a,
#bottomToolBar .path a:visited,
#bottomToolBar .path a:active {
	color: #003366;
	text-decoration: none;
	}

#bottomToolBar .path a:hover {
	text-decoration: underline;
}

#bottomToolBar .icons {
	margin:0;
	display:table-cell;
	text-align:right;
	white-space:nowrap;
	vertical-align: top;
	}
#bottomToolBar .icons a img {
	vertical-align: middle;
	margin:1px;
	}

/*<group=Layout>*/

header,
section,
article,
footer,
nav {
	display:block;
	white-space: normal;
	}

#container {
	margin: 0 auto;
	white-space: nowrap;
	background-color: #fff;
	min-height: 100%;
	}

body.frames #container {
	margin: 0;
	width:auto;
	white-space: normal;
	}

#header {
	}
/*
#content,
#titleBar,
#footer  {
	width: 730px;
	max-width: 730px;
	}

#content {
	display:inline-block;
	vertical-align:top;
	margin:14px 10px 0 10px;
	}
*/
#content{
	display: block;
	width: auto;
	margin: 0;
}
body.frames #content {
	margin: 0;
	}

#titleBar {
	clear:both;
	vertical-align:top;
	}

#article {
	font-size: 14px;
	line-height: 1.5em;
	float:left;
	clear: left;
	vertical-align:top;
	width: 556px;
	margin-right: 20px;
}
#frontPageTitle{
	float:left;
	clear: left;
	width: 556px;
	margin-right: 20px;
}
#article ul,
#article ol{
	margin: 0 0 10px;
}
#article li{
	margin: 0 0 5px;
}
#article #news,
#article .retriever_feed,
#article table{
	font-size: 12px;
}
#article table[style*="width"]{
	width: 100% !important;
}
body.wholeContentWidth #article {
	width: 100%;
	}

#aside {
	float:none;
	margin: 0 0 20px;
	vertical-align:top;
	clear:right;
	width:154px;
	overflow: hidden;
}
#footer {
	clear:both!important;
	vertical-align:top;
}
@media screen and (max-width: 1006px){
	#article,
	#frontPageTitle{
		float: none;
		width: auto;
		margin: 0;
	}
	#article{
		overflow: auto;
		margin: 0 -20px;
		padding: 0 20px;
	}
	#aside{
		width: auto;
		float: none;
		clear: both;
	}
}
#topHeaderIntranet .logo {
	margin: 15px auto;
	}

#header #topHeaderStandard {
	background-image:url(http://intra.ifint.biz/ifcmtool/resource.nsf/topbg.gif);
	height:72px;
	}
#header #topHeaderStandard .logo {
	float:left;
	margin-top:10px;
	margin-left:8px;
	}
#header #topHeaderStandard .contactUs {
	float:right;
	margin-top:15px;
	margin-right:8px;
	}

body.searchView #article {
	width:100%;
	max-width:100%;
	}
body.searchView #article table td {
	padding:2px;
	}

label.error {
	display:block;
	}
.error {
	border-color:red !important;
	color:red;
	}
/*<group=FrontPage - News>*/

#news ul {
	word-wrap: normal;
}
#news > ul,
#news > ul > li {
	margin:0;
	padding:0;
	list-style: none;
	}

#news ul.news1,
#news ul.news2,
#news ul.news3 {
	width: auto;
	display:table-cell;
	vertical-align: top;
	}
#news > ul > li {
	clear:both;
	overflow:hidden;
	}
#news > ul > li.newsHeader {
	padding-bottom: 0px;
	}
#news > ul > li.newsHeader h1 {
	font-size: 1.25em;
	}

#news > ul > li.newsAlert > h1 {
	font-size: 1.167em;
	color : #C7252E;
	}

#news ul.newsTop > li,
#news ul.newsBottom > li {
	padding: 5px 0;
	}
#news ul.newsTop > li:first-child,
#news ul.newsBottom > li:first-child {
	padding: 0;
	}
#news ul.newsTop > li:last-child {
	padding-bottom:15px;
	}
#news ul.news1 > li {
	padding: 5px 20px 5px 0;
	}
#news ul.news2 > li,
#news ul.news3 > li {
	padding: 5px 5px 5px 20px;
	}
#news ul.news1 li.gH,
#news ul.news2 li.gH,
#news ul.news3 li.gH {
/*	border-top: 1px solid #efefef;
	padding-top:30px;*/
}
#news ul.news1 li.gH:first-child,
#news ul.news2 li.gH:first-child,
#news ul.news3 li.gH:first-child {
	background-position: 0% 0%;
	}
#news ul.newsTop li.gH,
#news ul.newsBottom li.gH {
	border-bottom: 1px solid #efefef;
	padding-bottom: 30px;
	}
#news h1 {
	font-size:1.1em;
	font-weight: normal;
	margin:0;
	}
#news .rM {
	background: url("http://intra.ifint.biz/ifcmtool/resource.nsf/menu/leftMenuDartLeftBold.gif") no-repeat left center;
	padding-left:.7em;
	}
#news time {
	display:block;
	font-size:.92em;
	font-style: italic;
	}
	@media screen and (max-width: 700px){
		#news ul.news1,
		#news ul.news2,
		#news ul.news3 {
			display: block;
		}
		#news ul.news2 > li,
		#news ul.news3 > li {
			padding: 0;
		}
		.newsBottom ul.forstasidesLankar li{
			width: auto;
			display: block;
		}
	}
/*<group=Homepage>*/

.homepageVelcome {
	}

.homepageSelect {
	width: 224px;
	}

.homepageNews {
	font-size:0.92em;
	text-decoration: none;
}

a.homepageNews,a:visited.homepageNews,a:active.homepageNews {
	color: #2882be;
	text-decoration: none;
}

a:hover.homepageNews {
	color: #68cef2;
	text-decoration: none;
}


/*<group=Attachment slideShow>*/

#attachmentSlideShow {
	overflow-y: auto;
	max-height: 510px
	}

#attachmentSlideShow a img {
	max-height:60px;
	}

/*<group=Attachment icons>*/

a[href$="flv"], .icon-flv,
a[href$="css"],  .icon-css, a[href$="xml"], .icon-xml, a[href$="xsl"], .icon-xsl,
a[href$="doc"],  .icon-doc, a[href$="rtf"], .icon-rtf,
a[href$="docx"], .icon-docx,
a[href$="eps"],  .icon-eps,
a[href$="exe"],  .icon-exe,
a[href$="js"],   .icon-js,
a[href$="mov"],  .icon-mov, a[href$="mpg"], .icon-mpg, a[href$="mpeg"], .icon-mpeg,
a[href$="mp3"],  .icon-mp3,
a[href$="msg"],  .icon-msg,
a[href$="msi"],  .icon-msi,
a[href$="ntf"],  .icon-ntf,
a[href$="pdf"],  .icon-pdf,
a[href$="pps"],  .icon-pps,
a[href$="ppt"],  .icon-ppt,
a[href$="pptx"], .icon-pptx,
a[href$="qxp"],  .icon-qxp,
a[href$="reg"],  .icon-reg,
a[href$="sas"],  .icon-sas,
a[href$="sit"],  .icon-sit,
a[href$="swf"],  .icon-swf,
a[href$="tif"],  .icon-tif,
a[href$="txt"],  .icon-txt,
a[href$="wmv"],  .icon-wmv,
a[href$="xls"],  .icon-xls, a[href$="xlsm"], .icon-xlsm,
a[href$="xlsx"], .icon-xlsx,
a[href$="zip"], .icon-zip,
.showFileTypeIcon a[href$="gif"], .showFileTypeIcon a[href$="png"], .showFileTypeIcon a[href$="emf"], .icon-gif, .icon-png, .icon-emf,
.showFileTypeIcon a[href$="htm"], .showFileTypeIcon a[href$="html"], .icon-htm, .icon-html,
.showFileTypeIcon a[href$="jpg"], .showFileTypeIcon a[href$="jpe"], .icon-jpg, .icon-jpe {
	background-position: left center;
	background-repeat: no-repeat;
	padding: 2px 0 1px 20px;
	}

a[href$="flv"], .icon-flv { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/flv.gif);}
a[href$="css"], .icon-css, a[href$="xml"], .icon-xml, a[href$="xsl"], .icon-xsl { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/css.gif);	}
a[href$="doc"], .icon-doc, a[href$="rtf"], .icon-rtf { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/doc.gif);}
a[href$="docx"], .icon-docx { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/docx.gif);}
a[href$="eps"], .icon-eps { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/eps.gif);}
a[href$="exe"], .icon-exe { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/exe.gif);}
a[href$="js"], .icon-js { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/js.gif);}
a[href$="mov"], .icon-mov, a[href$="mpg"], .icon-mpg, a[href$="mpeg"], .icon-mpeg { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/mov.gif);}
a[href$="mp3"], .icon-mp3 { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/mp3.gif);}
a[href$="msg"], .icon-msg { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/msg.gif);}
a[href$="msi"], .icon-msi { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/msi.gif);}
a[href$="ntf"], .icon-ntf { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/ntf.gif);}
a[href$="pdf"], .icon-pdf { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/pdf.gif);}
a[href$="pps"], .icon-pps { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/pps.gif);}
a[href$="ppt"], .icon-ppt { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/ppt.gif);}
a[href$="pptx"], .icon-pptx { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/pptx.gif);}
a[href$="qxp"], .icon-qxp { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/qxp.gif);}
a[href$="reg"], .icon-reg { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/reg.gif);}
a[href$="sas"], .icon-sas { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/sas.gif);}
a[href$="sit"], .icon-sit { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/sit.gif);}
a[href$="swf"], .icon-swf { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/swf.gif);}
a[href$="tif"], .icon-tif { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/tif.gif);}
a[href$="txt"], .icon-txt { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/txt.gif);}
a[href$="wmv"], .icon-wmv { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/wmv.gif);}
a[href$="xls"], .icon-xls, a[href$="xlsm"], .icon-xlsm  { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/xls.gif);}
a[href$="xlsx"], .icon-xlsx { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/xlsx.gif);}
a[href$="zip"], .icon-zip { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/zip.gif);}
.showFileTypeIcon a[href$="gif"], .showFileTypeIcon a[href$="png"], .showFileTypeIcon a[href$="emf"], .icon-gif, .icon-png, .icon-emf { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/gif.gif);}
.showFileTypeIcon a[href$="htm"], .showFileTypeIcon a[href$="html"], .icon-htm, .icon-html { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/htm.gif);}
.showFileTypeIcon a[href$="jpg"], .showFileTypeIcon a[href$="jpe"], .icon-jpg, .icon-jpe { background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachicon/jpg.gif);}



/*<group=Title Line>*/
#titleLine {
	margin-bottom: 20px;
	padding-bottom: 10px;
	overflow: hidden;
	background-position: left center;
	background-repeat: no-repeat;
	border-bottom: 1px solid #e9e9e9;
	}
#titleLine h1 {
	float:left;
	margin:0;
	}
#titleLine h1 a {
	text-decoration:none;
	color:inherit;
	}
#titleLine hr  {
	display: none;
	height: 2px;
	border: none;
	width: 100%;
	margin: 2em 0 10px 0;
	padding:0;
	clear:both;
	background-color: #efefef;
	}


#titleLine #docInfo {
	float:right;
	font-size:11px;
	white-space:nowrap;
	vertical-align:top;
	line-height: 16px;
	}

#titleLine #docInfo p {
	text-align: right;
	margin:0;
	}
#titleLine .responsibleDetails {
	border: 1px solid #ccc;
	display: none;
	padding: 5px;
	position: absolute;
	background: #fff;
	z-index: 2;
	right: 0;
}
#titleLine em.notPublish {
	color: red;
	padding-left: 1em;
	font-size: 15px;
	font-style: normal;
	}

/*<group=Menu Tabs View>*/

#tabsMenu{
	margin:0 ;
	padding:0
	}
.menuTabsView  {
	margin: 0 0 20px;
	padding: 0;
	line-height:1.1em;
	display:block;
	border-spacing: 0;
	border-bottom: 1px solid #e9e9e9;
	display: flex;
	display: -ms-flexbox;
}
.menuTabsView:empty{
	display: none;
}
.menuTabsView li {
	display: inline-block;
	list-style: none;
	background-image:none;
	margin:0;
	word-wrap: normal;
	vertical-align: bottom;
	border: 1px solid #e9e9e9;
	background: #f9f9f9;
	border-bottom: none;
	position: relative;
	margin-left: -1px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	display: flex;
	display: -ms-flexbox;
	-ms-flex-justify: center;
	-ms-flex-align: center;
  justify-content: center;
  align-items: center;
}
.menuTabsView li:first-child {
	margin-left: 0;
}
.menuTabsView li a{
	padding: 10px;
	display: block;
	text-align:center;
	max-width: 160px;
	overflow: hidden;
	vertical-align: bottom;
	text-overflow: ellipsis;
	word-wrap: break-word;
}
.menuTabsView li a,
.menuTabsView li a:visited,
.menuTabsView li a:hover,
.menuTabsView li a:active {
	text-decoration: none;
	color:inherit;
}
@media screen and (max-width:850px){
	.menuTabsView li a{
		padding: 10px 5px;
	}
}
.menuTabsView li.selected  {
	font-weight: bold;
	background: none;
	color: #000;
	background: #fff;
	border-top: 4px solid #999;
/*	border: 1px solid #e9e9e9;
	background: rgba(217, 217, 217, 0.1);*/

}
.menuTabsYellow li.selected  {
  border-top-color: #ffe49c;
}
.menuTabsGreen li.selected {
  border-top-color: #d0e6c3;
}
.menuTabsBlue li.selected {
  border-top-color: #b6d8df;
}
.menuTabsPink li.selected {
  border-top-color: #f8c6db;
}
.menuTabsBrown li.selected  {
  border-top-color: #cfac92;
}
.menuTabsLogoBlue li.selected  {
  border-top-color: #083b5c;
}
.menuTabsGray li.selected  {
  border-top-color: #999;
}
.menuTabsBlack li.selected  {
  border-top-color: #202020;
}
.menuTabsView li.selected:after  {
	content: "";
	position: absolute;
	bottom: -1px;
  left: 0;
  right: 0;
	border-bottom: 2px solid #fff;
}
@media screen and (max-width:500px){
	.menuTabsView{
		display: block;
	}
	.menuTabsView li {
		display: block;
		border-radius: 0;
		margin: 0;
	}
	.menuTabsView li:first-child {
		border-radius: 4px 4px 0 0;
	}
	.menuTabsView li a{
		max-width: none;
		text-align:left;
		padding: 10px 15px;
	}
	.menuTabsView li.selected{
		border-top: 1px solid #999;
		border-left: 6px solid #999;
	}
	.menuTabsView li.selected a{
		padding-left: 14px;
	}
  .menuTabsYellow li.selected  {
    border-top-color: #ffe49c;
    border-left-color: #ffe49c;
  }
  .menuTabsGreen li.selected {
    border-top-color: #d0e6c3;
    border-left-color: #d0e6c3;
  }
  .menuTabsBlue li.selected {
    border-top-color: #b6d8df;
    border-left-color: #b6d8df;
  }
  .menuTabsPink li.selected {
    border-top-color: #f8c6db;
    border-left-color: #f8c6db;
  }
  .menuTabsBrown li.selected  {
    border-top-color: #cfac92;
    border-left-color: #cfac92;
  }
  .menuTabsLogoBlue li.selected  {
    border-top-color: #083b5c;
    border-left-color: #083b5c;
  }
  .menuTabsGray li.selected  {
    border-top-color: #999;
    border-left-color: #999;
  }
  .menuTabsBlack li.selected  {
    border-top-color: #202020;
    border-left-color: #202020;
  }
}
#menuMainBottom {
	margin: 20px 0;
}
#menuMainBottom ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 100%;
	margin-top: 0;
}

#menuMainBottom ul li {
	margin: 0 0 10px;
	padding: 0;
	background-image:none;
}
#menuMainBottom a,
#menuMainBottom a:visited,
#menuMainBottom a:active {
	text-decoration: none;
	color: #202020;
	}

#menuMainBottom a:hover {
	text-decoration: underline;
}
#menuMainBodyBottom {
	margin-top: 10px;
}

#menuMainBody {
	margin: 0;
	clear: both;
}

/*<group=Menu SiteMap>*/

#siteMap p:first-child {
	display:none;
	}
#siteMap p {
	margin-bottom:3em;
	line-height:1.5em;
}

#siteMap p a:before,
#siteMap p span:before {
	content:"– ";
	}
#siteMap p .SMdocLevel0:before {
	content:"";
	}
#siteMap p .SMdocLevel0 {
	margin-left:0;
	font-weight:bold;
	}
#siteMap p .SMdocLevel1 {
	margin-left:1em;
	}
#siteMap p .SMdocLevel2 {
	margin-left:2em;
	}
#siteMap p .SMdocLevel3 {
	margin-left:3em;
	}
#siteMap p .SMdocLevel4 {
	margin-left:4em;
	}
#siteMap p .SMdocLevel5 {
	margin-left:5em;
	}
#siteMap p .SMdocLevel6 {
	margin-left:6em;
	}
#siteMap p .SMdocLevel7 {
	margin-left:7em;
	}

.arrowBox,
.arrowBox ul {
	list-style-type: none;
	margin:0;
	overflow:hidden;
	}
.arrowBox li {
	background: url(http://intra.ifint.biz/ifcmtool/resource.nsf/arrowboxbg.png) no-repeat 0 50%;
	background-size: contain;
	-moz-background-size: contain;
	padding:2% 5% 2% 2%;
	min-width:107px;
	min-height:85px;
	float:left;
	margin-right:.5em;
	line-height:100%;
	}

#adminButtonsMenu {
	margin: 0 0 21px 0;
	}
.adminButtons {
	padding:0;
	list-style: none;
	margin: 0;
	}
.adminButtons li {
	margin:2px;
	padding:5px 6px;
	float:left;
	background-color:#d4d0c8;
	border: 2px solid #fff;
	}
.adminButtons li:hover {
	background-color: #ecf3ee !important;
	text-decoration:none;
	}
.adminButtons a {
	padding: .4em 2px .4em 25px;
	font-size:.846em;
	color:#000 !important;
	text-decoration:none;
	background-position: left center;
	background-repeat: no-repeat;
	}

.adminButtons .buttonNewSection	{background-image: url(/icons/actn030.gif)}
.adminButtons .buttonPaste 		{background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/paste.gif)}
.adminButtons .buttonNewChapter {background-image: url(/icons/actn032.gif)}
.adminButtons .buttonEdit 		{background-image: url(/icons/actn005.gif)}
.adminButtons .buttonCut 		{background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/cut.gif)}
.adminButtons .buttonCopy 		{background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/copy.gif)}
.adminButtons .buttonDelete 	{background-image: url(/icons/actn004.gif)}
.adminButtons .buttonPreview 	{background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/fullscrn.gif)}
.adminButtons .buttonLog 		{background-image: url(/icons/actn008.gif)}
.adminButtons .buttonEditHtml 	{background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/edithtml.gif)}
.adminButtons .buttonSave 		{background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/save.gif)}
.adminButtons .buttonCancel 	{background-image: url(/icons/actn142.gif)}
.adminButtons .buttonAttachment {background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/attachment.gif)}
.adminButtons .buttonLibrary 	{background-image: url(/icons/actn119.gif)}
.adminButtons .buttonReplace 	{background-image: url(/icons/actn090.gif)}
.adminButtons .buttonDbFiles 	{background-image: url(/icons/actn088.gif)}
.adminButtons .buttonMultiFileUpload{background-image: url(http://intra.ifint.biz/ifcmtool/resource.nsf/open.gif)}

.adminButtons .buttonNewTemplate{background-image: url(/icons/actn093.gif)}
.adminButtons .buttonHome{background-image: url(/icons/actn020.gif)}
.adminButtons .buttonUpdateIndex{background-image: url(/icons/schview.gif)}
.adminButtons .buttonReload{background-image: url(/icons/actn145.gif)}

/*<group=TinyMce edior>*/

body.mceContentBody {
	margin:10px;
	border:1px dotted gray;
	background-image: none;
	background-color: #fff;
	}
body.mceContentBody .hidden {
    border: 1px dotted red;
    display: inline !important;
    visibility: visible !important;
	}
body.mceContentBody div {
	border:1px dotted blue;
	}

body.mceContentBody div.yammerEmbeddedFeed {
	background-image: url(YammerEmbeddedFeed.png);
	background-position: center center;
	background-color: #f5f5f5;
	background-repeat: no-repeat;
	}

/*<group=viewByDate> */

#viewByDate {
	margin:0;
	clear:both;
	}

#viewByDate .viewByDateIngress {
	clear:both;
	margin-bottom:2em;
 	}

#viewByDate .viewByDateIngress h2 {
	margin:0;
 	}
#viewByDate .viewByDateIngress time {
	font-size:.92em;
	font-style:italic;
	line-height:1em;
 	}

#menuMainMobileToggle {
	display:none;
	}

/*<group=FeedBack>*/

#feedBackTab {
	background-image: url("http://intra.ifint.biz/ifcmtool/resource.nsf/feedbackOpen90deg.png");
	background-repeat: no-repeat;
	background-position: 100% 15px;
	background-image: none;
	line-height: 0;
	background-color:#EEEEE8;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 0;
	top: 40%;
	overflow: hidden;
	position: fixed;
	padding: 20px 5px 10px 5px;
	margin-right:-80px;
	border-color: rgba(72, 78, 105, .15);
	border-style: solid;
	border-width: 1px;
	color:#484E69;
	text-decoration: none;
	border-radius: 0 0 4px 4px;
	letter-spacing:1px;
	-webkit-transition: all .7s cubic-bezier(0.42, 0, 1, 1) 0;
	-moz-transition: all .7s cubic-bezier(0.42, 0, 1, 1) 0;
	-ie-transition: all .7s cubic-bezier(0.42, 0, 1, 1) 0;
	 -o-transition: all .7s cubic-bezier(0.42, 0, 1, 1) 0;
	    transition: all .7s cubic-bezier(0.42, 0, 1, 1) 0;
	width: 170px;
	text-align: center;
	}
@media screen and (max-width:500px){
	#feedBackTab {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		width: 100%;
		position: static;
		margin: 20px 0;
		padding: 0;
		border-radius: 4px;
	}
}
.oldie #feedBackTab {
	background-image: url("http://intra.ifint.biz/ifcmtool/resource.nsf/feedbackOpen.png");
	background-position: 0 100%;
	padding: 5px 20px 50px 5px;
	margin-right:-20px;
	writing-mode: tb-rl;
	width: auto;
	}

#feedBackTab:hover {
	margin-right: -70px;
	background-position: 100% 10px;
	background-color:#fff;
	-o-transition-duration:.2s;
	-moz-transition-duration:.2s;
	-webkit-transition-duration:.2s;
	transition-duration:.2s;
	}

.oldie #feedBackTab:hover {
	background-position: 0 100%;
	margin-right: -15px;
	}

.feedBackBox {
	background-color:white;
	padding:20px;
	border:none;
	position:absolute;
	left:50%;
	margin-left:-225px;
	top:25%;
	width:400px;
	display:none;
	border-radius:2px;
	z-index: 2;
	}

#feedBackReceipt {
	width:300px;
	text-align: center;
	}

.feedBackCloseT {
	border-style: none;
	background-color: transparent;
	color: #2882BE;
	text-decoration: underline;
	}

.feedBackCloseT:hover {
	color: #68cef2;
	text-decoration: underline;
	}

.feedBackCloseX {
	background-image: url("dialog-close.png");
	background-repeat:no-repeat;
	background-color: transparent;
	border-style: none;
	cursor: pointer;
	height: 32px;
	right: -16px;
	top: -16px;
	outline-style: none;
	outline-width: medium;
	overflow: hidden;
	position: absolute;
	width: 32px;
	}

.feedBackCloseX:hover {
	background-size: contain;
	width: 33px;
	height: 33px;
	}

#feedBackOpacity {
	background-color: #333;
	width:100%;
	height:100%;
	opacity:.7;
	position:absolute;
	position:fixed;
	left:0;
	top:0;
	z-index:1;
	display:none;
	}

.oldie #feedBackOpacity {
	background: #333;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)" !important;
	filter: alpha(opacity=70);
	}

#feedBackForm fieldset {
	border-style: none;
	}
#feedBackForm legend {
	font-size: 1.5em;
	line-height:1.5em;
	color: #333333;
	margin-bottom: 0.5em;
	}
#feedBackForm label {
	margin-bottom: 0.1em;
	display:inline-block;
	}

#feedBackForm .cmbBox {
	display:block;
	}

#feedBackForm label span {
	background-position: 10px 50%;
	background-repeat: no-repeat;
	padding-left: 40px;
	text-align: left;
	font-weight: bold;
	}

#feedBackForm select{
	margin-bottom: 15px;
}

#feedBackForm .praiseLabel span {
	background-image: url("feedbackPraise.png");
	}

#feedBackForm .suggestionsLabel span {
	background-image: url("feedbackSuggestion.png");
	}

#feedBackForm .complaintLabel span {
	background-image: url("feedbackComplaint.png");
	}

#feedBackForm .ui-state-active {
	background-color:#68cef2;
	background-image:none;
	}

#feedBackForm textarea {
	height: 90px;
	width: 100%;
	box-sizing: border-box;
	padding:5px;
	margin: 15px 0;
}
#feedBackForm .nameLabel,
#feedBackForm .principalLabel {
	width:70px;
	}

#feedBackForm #nameId,
#feedBackForm #principalId {
	width:250px;
	padding: 3px 0;
	border-color:#c8c8b4;
	border-radius:2px;
	}

#feedBackForm p {
	margin:5px 0;
	}

#feedBackForm .submit{
	float:right;
	}


#feedBackForm .submit {
	box-shadow: inset 0 2em 3em -2em #fff, inset 0 -2em 3em -2.5em #000;
	border-color:#eeeee8;
	}

#feedBackForm .submit:hover {
	background-color: #eeeee8;
	border-style:none;
	}

#feedBackForm  #typeId {
	margin-top: 15px;
	}

#feedBackForm  #typeId label {
	border-radius:10px;
	margin-bottom:2px;
	}

#feedBackForm .ui-buttonset .ui-button {
	margin-right: 0 !important;
	}

#returnErrorPage {
	margin: 0;
	background-color: #EAF3F9;
	min-height: 100%;
	height: 100%;
	}

#returnErrorPage form {
	min-height: 100%;
	height: 100%;
	}

#returnErrorPage h1 {
	background-image: url("http://intra.ifint.biz/ifcmtool/resource.nsf/logo.gif");
	background-position: 0% 50%;
	background-repeat: no-repeat;
	height: 60px;
	line-height: 60px;
	padding-left: 60px;
	}

#conflictAlert {
	font-size:1.25em;
	background-image:url("http://intra.ifint.biz/ifcmtool/resource.nsf/europeiske/alert.jpg");
	background-repeat:no-repeat;

	padding:10px 10px 10px 80px;
	border:1px solid red;
	border-radius:4px;
	margin:10px 0;
	background-position: 10px center
	}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* Hide for both screenreaders and browsers: h5bp.com/m */
.hidden { display: none !important; visibility: hidden; }


/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after,
#header:before, #content:before, .menuTreeView:before, #menuMainBodyBottom:before,
#header:after, #nav:after, #content:after, .menuTreeView:after, #menuMainBodyBottom:after {
	content: ""; display: table; }
.clearfix:after,
#header:after, #nav:after, #content:after, .menuTreeView:after, #menuMainBodyBottom:after {
	clear: both; }
.clearfix,
#header, #nav, #content, .menuTreeView, #menuMainBodyBottom
	 { zoom: 1; }
