input[readonly],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="color"],
input[type="time"],
input[type="url"],
input[type="search"],
textarea {
  display: block;
  -webkit-appearance: none;
  line-height: 20px;
  height: 35px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* border: none;
  background: #fff;
  background: rgba(255,255,255,0.9); */
  font-family: "Open Sans", Arial, sans-serif;
  max-width: 100%;
  font-size: 12px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: 1px solid #d9d9d9;
  margin: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
select{
  line-height: 20px;
  height: 35px;
  padding: 5px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  max-width: 100%;
  font-size: 12px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
textarea {
  min-height: 60px;
}
::-webkit-input-placeholder {
  color: #a5a5a5;
  opacity: 1;
}

input:-moz-placeholder {
  color: #a5a5a5;
  opacity: 1;
}

input::-moz-placeholder {
  color: #a5a5a5;
  opacity: 1;
}

input::-ms-placeholder {
  color: #a5a5a5;
  opacity: 1;
}

input::input-placeholder {
  color: #a5a5a5;
  opacity: 1;
}

span.button{
  background: none;
  padding: 0;
  font: inherit;
  line-height: inherit;
}
button,
.button,
[type=button],
[type=submit],
span.button input {
  cursor: pointer;
  background: #76bbb2;
  border: none;
  font-weight: normal;
  padding: 0 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  height: 30px;
  color: #fff;
  margin: 0;
  font-size: 14px;
  width: auto;
  display: inline-block;
  overflow: visible;
  font-family: Open-sans, sans-serif;
}
input[type=checkbox],
input[type=radio]{
  margin: 0 3px 3px 0;
  vertical-align: middle;
}
